- title_path_mismatch = movie.path.topdirectory != movie.localtitle
%span{:class => "label label-info", :rel => "tooltip", :title => "Deutscher Titel"}
	= movie.localtitle
%span.label.label-info{:rel => "tooltip", :title => "Erscheinungsjahr"}
	= movie.year
%small
	%em
		%span.label{:rel => "tooltip", :title => "Original Titel"}
			= movie.originaltitle
	= link_to "#{movie.imdbid}", "http://www.imdb.de/title/#{movie.imdbid}",  :rel => "tooltip", :title => "IMDB"
	- unless movie.imdbid.nil?
		- unless movie.validimdb.nil?
			= railstrap_image(movie.validimdb ? "status/verified.png" : "status/unverified.png", nil, :rel=> "tooltip", :title => movie.validimdb ? "verified" : "unverified")
		- else
			= railstrap_image(title_path_mismatch ? "status/exclamationmark.png" : "status/questionmark.png" , nil, :rel=> "tooltip", :title => title_path_mismatch ? "IMDB-Name stimmt NICHT mit Verzeichnisnamen überein" : "IMDB-Name stimmt mit Verzeichnisnamen überein")