= image_tag item.thumbnail.url, :style => "float: right"
%ul
	%li
		= item.category 
		= item.other[:format] unless item.other[:format].empty?
		= link_to "Quelle", item.srcurl
		- unless item.other[:details].nil? || item.other[:stats].empty?
			= item.other[:stats]
		= link_to item.other[:magnetlink], item.other[:magnetlink]
	- unless item.other[:size].empty?
		%li= item.other[:size]
	- unless item.other[:details].nil?
		- item.other[:details].each do |key,value|
			%li
				%strong= key.to_s
				= value
	%li
		= item.other[:description]
	- unless item.other[:comments].nil? || item.other[:comments].empty?
		- item.other[:comments].each do |comment|
			%tr
				%td{:colspan => 2}
					%blockquote
						= comment