%ul
	- unless item.imdbid.nil?
		%li= link_to "[#{item.imdbid}]", "http://www.imdb.de/title/#{item.imdbid}"
	
	%li= item.category 		
	%li
		= link_to "Quelle", entrant_url(item)
		= link_to "Externe Quelle", item.srcurl
		
	- if item.update_counter > 0
		%li= "Bearbeitungen: #{item.update_counter}"
		- unless item.diff.nil? || item.diff.empty?
			- item.diff.each do |diff|
				%li= raw diff

	- unless item.content.nil?
		%li= raw sfile_content(item,false)