%ul
	%li= item.category
	
	- unless item.other[:movietitle].nil?
		%li= item.other[:movietitle]
		%li= "#{item.other[:movieyear]}"
	
	- unless item.imdbid.nil?
		%li= link_to "#{item.imdbid}", "http://www.imdb.de/title/#{item.imdbid}"
		
	- unless item.imdbid.nil? || (movies = Movie.by_imdbid(item.imdbid)).empty?
		- movies.each do |movie|
			%li
				= link_to movie.path.topdirectory, mediapath_path(movie.path), :rel => "tooltip", :title => movie.path.strPath
				= render("mediapath/mediapath", :mediapath => movie.path, :title_path_mismatch => movie.path.topdirectory != movie.localtitle)
				= render(:partial => "mediafiles/mediafile", :object => movie.file)
				= render "streamdetails/logos", :streamdetails => movie.details
	
	%li
		Quelle:
		= link_to "Lokal", entrant_url(item)
		= link_to "Extern", item.srcurl
		
	- if item.update_counter > 0
		%li= "Updates: #{item.update_counter}"
		- unless item.diff.nil? || item.diff.empty?
			- item.diff.each do |diff|
				%li= raw diff

	- unless item.content.nil?
		%li= raw sfile_content(item,false)