%table{:border => 1, :width => "100%;", :style => "width: 100%;"}
	%tr
		%td{:valign => "top", :align => "left", :width => "1%"}
			= image_tag feeditem.thumbnail.url
		%td{:valign => "top"}
			%ul
				%li
					= feeditem.category 
					= feeditem.other[:format] unless feeditem.other[:format].empty?
					= link_to "Quelle", feeditem.srcurl
					- unless feeditem.other[:details].nil? || feeditem.other[:stats].empty?
						= feeditem.other[:stats]
					= link_to feeditem.other[:magnetlink], feeditem.other[:magnetlink]
				- unless feeditem.other[:size].empty?
					%li= feeditem.other[:size]
				- unless feeditem.other[:details].nil?
					- feeditem.other[:details].each do |detail|
						%li
							- detail.each do |key,value|
								= "#{key} #{value}"
	
	- unless feeditem.other[:description].nil? || feeditem.other[:description].empty?
		%tr
			%td{:colspan => 2}
				= feeditem.other[:description]
			
	- unless feeditem.other[:comments].nil? || feeditem.other[:comments].empty?
		- feeditem.other[:comments].each do |comment|
			%tr
				%td{:colspan => 2}
					%blockquote
						= comment
