- if item.image.exists?
	= image_tag item.image.url, :style => "float: right"

%ul
	%li= item.category 		
	%li= link_to "Quelle", entrant_url(item)
	%li= link_to "Original-Quelle", item.srcurl
	
- unless item.other[:content].nil?
	= raw sfile_content(item)