%ul
	%li= item.category
	
	- unless item.other[:movietitle].nil?
		%li= item.other[:movietitle]
	
	- unless item.imdbid.nil?
		%li= link_to "#{item.imdbid}", "http://www.imdb.de/title/#{item.imdbid}"
	
	%li
		Quelle:
		= link_to "Lokal", entrant_url(item)
		= link_to "Extern", item.srcurl
		
	- if item.update_counter > 0
		%li= "Updates: #{item.update_counter}"
		- unless item.diff.nil? || item.diff.empty?
			- item.diff.each do |diff|
				%li= raw diff

	- unless item.content.nil?
		%li= raw sfile_content(item,false)