- other = object.other

%ul{:class => "entrant_other icons"}
	- if object.image.exists?
		= link_to image_tag(object.image.url, :style => "float: right; width: 15%;", :class => "img-rounded"), object.image.url
	- elsif !object.imageurl.nil? && !object.imageurl.empty?
		= link_to image_tag(object.imageurl, :style => "float: right; width: 15%;", :class => "img-rounded"), object.imageurl

	%li{:class => "icon-file"}
		= object.title
		- unless object.imdbid.nil?
			= link_to "[#{object.imdbid}]", "http://www.imdb.de/title/#{object.imdbid}",  :rel => "tooltip", :title => "IMDB"
		
	- unless other[:movietitle].nil?
		%li{:class => "icon-film"}
			= other[:movietitle]
			= "(#{other[:movieyear]})"
		
	- unless object.category.nil? || object.category.empty?
		%li{:class => "icon-tag"}
			= object.category
	
	- unless object.imdbid.nil? || (movies = Movie.by_imdbid(object.imdbid)).empty?
		- movies.each do |movie|
			%li{:class => "icon-list"}
				= render("mediapath/mediapath", :mediapath => movie.path, :title_path_mismatch => movie.path.topdirectory != movie.localtitle)
				= render(:partial => "mediafiles/mediafile", :object => movie.file)
				= render "streamdetails/logos", :streamdetails => movie.details
				
	- if object.imdbid.nil? && !other[:movietitle].nil? && !other[:movieyear].nil? && !(movies = Movie.soundex_find(:all, :limit => 10, :conditions => {:c07 => other[:movieyear]}, :soundex => other[:movietitle])).empty?
		- movies.each do |movie|
			%li{:class => "icon-list"}
				= render("mediapath/mediapath", :mediapath => movie.path, :title_path_mismatch => movie.path.topdirectory != movie.localtitle)
				= render(:partial => "mediafiles/mediafile", :object => movie.file)
				= render "streamdetails/logos", :streamdetails => movie.details
		

	-# unless object.imageurl.nil? || object.imageurl.empty?
		%li{:class => "icon-picture"}
			= object.imageurl
			
	- unless object.srcurl.nil? || object.srcurl.empty?
		%li{:class => "icon-share-alt"}
			= link_to "Lokal", entrant_url(object)
			= link_to "Extern", object.srcurl
			
	%li{:class => "icon-calendar"}
		= l object.date, :format => :with_weekday_and_time

	- if object.update_counter > 0
		%li{:class => "icon-pencil"}
			= l object.updated_at, :format => :with_weekday_and_time

		%li{:class => "icon-repeat"}
			= object.update_counter
	
		- unless object.diff.nil? || object.diff.empty?
			- object.diff.each do |diff|
				%li{:class => "icon-eye-open"}
					= raw diff
			
	- unless object.content.nil? || object.content.empty?
		%li{:class => "icon-book"}
			= raw sfile_content(object)