- other = object.other

%ul{:class => "entrant_other icons"}
	- if object.image.exists?
		= link_to image_tag(object.image.url, :style => "float: right; width: 15%;", :class => "img-rounded"), object.image.url
	- elsif !object.imageurl.nil? && !object.imageurl.empty?
		= link_to image_tag(object.imageurl, :style => "float: right; width: 15%;", :class => "img-rounded"), object.imageurl

	%li{:class => "icon-file"}
		= object.title

	%li{:class => "icon-repeat"}
		= object.update_counter

	- unless object.imageurl.nil? || object.imageurl.empty?
		%li{:class => "icon-picture"}
			= object.imageurl

	%li{:class => "icon-calendar"}
		= l object.date, :format => :with_weekday_and_time

	%li{:class => "icon-pencil"}
		= l object.updated_at, :format => :with_weekday_and_time

	- unless object.category.nil? || object.category.empty?
		%li{:class => "icon-tag"}
			= object.category
			
	- unless object.srcurl.nil? || object.srcurl.empty?
		%li{:class => "icon-share-alt"}
			= link_to "Lokal", entrant_url(object)
			= link_to "Extern", object.srcurl
	
	- if object.diff.is_a? Array
		- object.diff.each do |diff|
			%li{:class => "icon-eye-open"}
				= diff.html_safe
	- else
		%li{:class => "icon-eye-open"}
			= object.diff.html_safe
			
	- unless other[:content].nil? ||  other[:content].empty?
		%li{:class => "icon-book"}
			= raw sfile_content(object)
