- other = object.other

%ul{:class => "entrant_other icons"}

	%li{:class => "icon-calendar"}
		= l object.date, :format => :short_with_day

	- unless object.category.nil? || object.category.empty?
		%li{:class => "icon-tag"}
			= object.category

	- unless object.srcurl.nil? || object.srcurl.empty?
		%li{:class => "icon-share-alt"}
			= link_to object.srcurl, object.srcurl

	- unless other[:magnetlink].nil? || other[:magnetlink].empty?
		%li{:class => "icon-magnet"}
			= link_to other[:magnetlink], other[:magnetlink]
		
	- unless other[:stats].nil? || other[:stats].empty?
		%li{:class => "icon-heart"}
			= other[:stats]
			
	- unless other[:format].nil? || other[:format].empty?
		%li{:class => "icon-facetime-video"}
			= other[:format]
			
	- unless other[:size].nil? || other[:size].empty?
		%li{:class => "icon-hdd"}
			= other[:size]
			
	- unless other[:details].nil? 
		- other[:details].each do |key,value|
			%li{:class => "icon-book"}
				= "#{key} #{value}"
			
	- unless other[:description].nil? ||  other[:description].empty?
		%li{:class => "icon-book"}
			= other[:description]
			
	- unless other[:comments].nil? ||  other[:comments].empty?
		- other[:comments].each do |comment|
			%li{:class => "icon-bullhorn"}
				= comment