:javascript
	var jdownloader=false;
%script{:language => "javascript", :src => "http://127.0.0.1:9666/jdcheck.js"}
:javascript
	if(!jdownloader) document.write("<font color='red'>JDownloader is NOT running</font>");	
- unless resource.links.nil? || resource.links.empty?
	%ul
		- resource.clustered_links.each do |hoster,links|
			%li
				%form{:action => 'http://127.0.0.1:9666/flash/add', :target => "hidden", :method => "POST", :style => "margin: 0px; margin-left: 8px; display: inline-block;"}
					-#
						%input{:type => 'hidden', :name => 'passwords', :value => 'myPassword'}
						%input{:type => 'hidden', :name => 'source', 		:value => 'http://jdownloader.org/spielwiese'}
					%input{:type => 'hidden', :name => 'urls', 			:value => "#{links.join("\r\n")}"}
					%input{:type => 'SUBMIT', :name => 'submit', 		:value => "add #{links.count} #{hoster} - links to jdownloader"}
				- links.each_with_index do |link,index|
					= link_to "#{index+1}",link

	
