- unless streamdetails.nil? || streamdetails.empty?
	- streamdetails.each do |streamdetail|
	
		- unless streamdetail.video_codec_logo.nil?
			.videocodec
				= image_tag streamdetail.video_codec_logo
				
		- unless streamdetail.video_resolution_logo.nil?
			.videoresolution
				= image_tag streamdetail.video_resolution_logo

		- unless streamdetail.aspect_ratio_logo.nil?
			.aspectratio
				= image_tag streamdetail.aspect_ratio_logo
				
		- unless streamdetail.strAudioLanguage.nil? || streamdetail.strAudioLanguage.empty?
			.audiolanguage
				%span{:class => "label label-success", :rel => "tooltip", :title => "Sprache"}
					= streamdetail.strAudioLanguage
		
		- unless streamdetail.audio_codec_logo.nil?
			.audiocodec
				= image_tag streamdetail.audio_codec_logo

		- unless streamdetail.audio_channels_logo.nil?
			.audiochannels
				= image_tag streamdetail.audio_channels_logo

		- unless streamdetail.strSubtitleLanguage.nil? || streamdetail.strSubtitleLanguage.empty?
			.subtitlelanguage
				%span{:class => "label label-warning", :rel => "tooltip", :title => "Untertitel"}
					= streamdetail.strSubtitleLanguage
				

