- unless streamdetail.nil?
	- unless streamdetail.video_codec_logo.nil?
		.videocodec
			= image_tag "flagging/video/#{streamdetail.video_codec_logo}"
		
	- unless streamdetail.aspect_ratio_logo.nil? || !File.exists?("#{Rails.root}/app/assets/images/flagging/aspectratio/#{streamdetail.aspect_ratio_logo}")
		.aspectratio
			= image_tag "flagging/aspectratio/#{streamdetail.aspect_ratio_logo}"
